/* CSS Entry Point */

.app{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f6f5ee;
}
// header {
// 	height: 125px;
// }

#header {
	border-bottom: 1px solid #c2c2bc;
	background-color: white;
	height: 90px;
}

#header h3 {
	color: #ef7b15;
	font-family: 'Tinos', serif;
	font-size: 40px;
	font-weight: normal;
	margin-left: 50px;
	position: relative;
	bottom: 15px;
	left: 20px;
}
#rectangle {
	width: 200px;
	height: 35px;
	border: 1px solid #c2c2bc;
	position: relative;
	bottom: 95px;
	left: 165px;
}

#header p {
	width: 80px;
	 height: 32px;
	// padding:4px;
	position: relative;
	bottom: 148px;
	left: 365px;
	background-color: #04bfdc;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.menu1 {
	display: inline;
	// border: 1px solid red;
	position: relative;
 	bottom: 185px;
 	left: 715px;
 	padding-right: 75px;
	// display: flex; 
	// justify-content: flex-end;
	//  flex-wrap: wrap;
  }

 .menu1 a {
 	color: #6272b2;
 	text-decoration: none;
 	margin: 5px;
 }

 // #menu { 
 // 	margin-left: 75px;
 // 	}

 .menu2 {
 	border-top: 1px solid #c2c2bc;
 	position: relative;
 	bottom: 155px;
 	left: 60px;
 	}

 .menu2 a {
 	color: lighten(black, 50%);
 	font-size: 15px;
 	margin: 10px;
 	// display: flex;
 	// flex-wrap: wrap;
 	// margin: 12px;
 	// padding: 10px;
 	// display: flex;
 	// align-content: space-between;
 	text-decoration: none;
 }

// main {
// 	float: left;
//}
.maincontent {
	margin-top: 25px;
	// border: 1px solid #10cbe0; 
	// margin-left: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	width: 1060px;
	display: flex;
	justify-content: center;
}

.sidebar {
	font-size: 14px;
	// border: 1px solid red;
	float: left;
	width: 330px;
	margin-left: 50px
	// background-color: #6376bf;
}

// .sidebar aside {
// 	margin-top: 5px;
// 	margin-left: 20px;
// }

// .sidebar ul {
// 	margin-right: 5px;
// }

.sidebar li {
	width: 245px;
	color: #6376bf;
}

//  .sidebar ul{
// 	list-style-type: none;
// 	 background-color: white;
// 	margin-top: 15px;
// 	// margin-left: 15px;
// 	 width: 220px;
// 	border: 1px solid #c2c2bc;
// }
// .categories ul{
// 	border: 1px solid red;
// 	margin-top: 0px;
// }

.categories {
	border: 1px solid #c2c2bc;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 245px;
	background: white;
}

.categories aside {
}

.categories ul {
	list-style-type: none;
}

.searchbox {
	border: 1px solid #c2c2bc;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 245px;
	background: white;
}
.searchbox ul {
	list-style-type: none;
}

.searchbox li {
	color: #6272b2;
}

.b1 {background: red;}

.b2 {background: orange;}

.b3 {background: yellow;}

.b4 {background: #0ecd11;}

.b5 {background: #10cbe0;}

.b6 {background: #a210e0;}

.b7 {background: black;}

.b8 {background: white;}


.main{
	width: 730px;
	margin-top: 35px;
	display: flex;
	// justify-content: space around;
	flex-flow: row wrap;
	align-items: flex-start;	
}

.main aside {
	margin: 0;
}

.box {
	width: 220px;
	margin-right: 8px;
	margin-bottom: 8px;
	// border: 1px solid red;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

div.box.titleOfProduct {
	display: inherit;
}

div.box :hover {
	display: block;
}

// .seller-price {
// 	display: flex;
// 	// 
// 	align-content: flex-start;	
// }
.price {
	color: lighten(green, 10%);
	position: relative;
	left: 145px;
	bottom: 9px;
}

.seller {
	color: lighten(black, 50%);
	position: relative;
	left: 5px;
	top: 8px;
}

img {
	width: 220px;
	// display: flex;
	// justify-content: center;
}
.textbox {
	border: 1px solid #c2c2bc; 
}

// div.titleOfProduct {
// 	display: block;
// }


footer {
	// border: 1px solid red;
	clear: both;
	padding: 15px;
	text-align: center;
	background-color: white;
}

