/* CSS Entry Point */

.app{
	border: 1px solid red;
	background-color: #f6f5ee;
}

header {
	border: 1px solid blue;
	background-color: white;
}
.header h3 {
	color: #ef7b15;
	font-size: 50px;
	font-weight: normal;
}

.header button {
	margin-right: 10px;
}

#menu {
	display: inline;
	border: 1px solid red;
	float: right;
	position: relative;
 	bottom: 40px;

	 }

// main {
// 	float: left;
//}

.sidebar{
	border: 1px solid red;
	float: left;
	width: 300px;
	background-color: #f6f5ee;
}
 ul{
	list-style-type: none;
	background-color: white;
	margin: 15px;
	border: 1px solid #c2c2bc;
}

.searchbox {
	border: 1px solid #c2c2bc;
	margin:10px;
	padding: 5px;
	background-color: white;

}
.product_image {
	margin: 5px;
	border: 1px solid red;
	padding: 5px;

}


footer {
	border: 1px solid red;
	clear: both;
	padding: 15px;
	background-color: white;
}

