/* CSS Entry Point */

.app{
	font-family: 'Source Sans Pro', sans-serif;
	border: 1px solid red;
	background-color: #f6f5ee;
	// width: 1000px;
	// white-space: nowrap;
	// overflow: hidden;
}
header {
	height: 125px;
}

#header {
	border: 1px solid blue;
	background-color: white;
	// width: 1070px;
	height: 125px;

}

#header h3 {
	border: 1px solid red;
	color: #ef7b15;
	font-family: 'Tinos', serif;
	font-size: 40px;
	font-weight: normal;
	margin-left: 50px;
	position: relative;
	bottom: 25px;
	left: 20px;
}

#header p {
	position: relative;
	bottom: 90px;
	left: 200px;

	// float: right;
	// border: 1px solid red;
	// margin-left: 10px;
}

.menu1 {
	display: inline;
	border: 1px solid red;
	display: flex;
	justify-content: flex-end;
	// float: right;
	position: relative;
 	bottom: 125px;
 }

 .menu1 a {
 	text-decoration: none;
 }

 // #menu { 
 // 	margin-left: 75px;
 // 	}

 .menu2 {

 	border: 1px solid red;
 	position: relative;
 	bottom: 95px;
 	left: 60px;
 	}

 .menu2 a {
 	font-size: 15px;
 	margin: 10px;
 	// display: flex;
 	// flex-wrap: wrap;
 	// margin: 12px;
 	// padding: 10px;
 	// display: flex;
 	// align-content: space-between;
 	text-decoration: none;
 }

// main {
// 	float: left;
//}
.maincontent {
	margin-top: 25px;
	// margin-left: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	border: 1px solid black;
	width: 1060px;
	display: flex;
	justify-content: center;
}

.sidebar {
	font-size: 14px;
	border: 1px solid red;
	float: left;
	width: 330px;
	margin-left: 50px
	// background-color: #6376bf;
}

.sidebar aside {
	margin-top: 5px;
	margin-left: 20px;
}

.sidebar li {
	color: #6376bf;
}

 ul{
	list-style-type: none;
	background-color: white;
	margin-top: 15px;
	margin-left: 15px;
	border: 1px solid #c2c2bc;
}
.categories ul{
	margin-top: 0px;
}

.searchbox {
	border: 1px solid #c2c2bc;
	margin:10px;
	padding: 5px;
	width: 245px;
	background-color: white;
}

.searchbox li {
	color: #6272b2;
}

.product_image {
	margin: 5px;
	border: 1px solid red;
	// padding: 5px;
}

.main{
	width: 730px;
	margin-top: 35px;
	// width: calc(100%-245px);
	border: 1px solid green;
	 // width: 750px;
	display: flex;
	// justify-content: space around;
	flex-flow: row wrap;
	align-items: flex-start;	
}

.main aside {
	margin: 0;
}

.box {
	width: 220px;
	margin-right: 8px;
	border: 1px solid red;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

img {
	width: 220px;
	// display: flex;
	// justify-content: center;
}

footer {
	border: 1px solid red;
	clear: both;
	padding: 15px;
	background-color: white;
}

